1.Program to substract 2 complex nos.

In [1]:
a= 2+5j
b= 6+8j
c=a+b
print("Substraction of 2 complex nos.:",c)

Substraction of 2 complex nos.: (8+13j)

2.Program to find the forth root of no.

In [4]:
x=6
y=x**(1/4)
print("Fourth Root of x",y)

Fourth Root of x 1.5650845800732873

3.Program to swap 2 nos. with the help of temp var.

In [5]:
a= 101
b= 555
print("value of no. 1 before swapping:",a)
print("value of no. 2 before swapping:",b)

temp=a
a=b
b=temp

print("value of no. 1 after swapping:",a)
print("value of no. 2 after swapping:",b)

value of no. 1 before swapping: 101
value of no. 2 before swapping: 555
value of no. 1 after swapping: 555
value of no. 2 after swapping: 101

4.Program to swap 2 nos. without the help of temp var.

In [ ]:
a= 101
b= 555
print("value of no. 1 before swapping:",a)
print("value of no. 2 before swapping:",b)

a,b = b,a

print("value of no. 1 after swapping:",a)
print("value of no. 2 after swapping:",b)

5. Program to convert farenheit to kelvin and celsius

In [22]:
t= float(input("enter temperature in farenheit:"))
c =(t-32)*5/9
k =(t-32)*(5/9)+273.15

print=("temperature in Celsius:",c)
print=("temperature in Kelvin:",k)

enter temperature in farenheit:67

6. Program to demonstrate all datatypes

In [34]:
a=5
type(a)

int

In [35]:
b= 4.75
type(b)

float

In [36]:
c=4+5j
type(c)

complex

7. Steps to upload assignment in github.
  a. go to hithub.com
  b. sign up with your email id that is register with Letsupgrate
  c. Click on repository
  d. create repository by the name- "Lets Upgrade AI-ML"
  e. click on the repository which you have created
  f. upload .ipynb file wherever you have created in the computer